body {
  margin-left: 10%;
  margin-right: 10%;
  background: url("assets/sky1-2.jpg");
  background-size: cover;
  background-position: fixed;
  background-repeat: no-repeat;
  min-height: 100vh;
  color: #ffff;
  font-family: 'Bitter', serif;
}

.text-shadow {
  text-shadow: 1px 1px 0px #01567b;
}

.btn {
  background-color: #01567b;
  border: none;
  border: solid #ffff 2px;
  z-index: 22;
  height: 30px;
  width: 30px;
  padding: 0;
}

.btn:hover {
  background-color: #01567b;
  border: 2px solid #ffff;
}

.btn-add {
  background-color: #01567b;
  opacity: 0.7;
  border: solid #ffff 2px;
  text-align: center;
  color: #ffff;
  position: relative;
  width: 100px;
  height: 41px;
}

#inputArea {
  width: 300px;
  opacity: 0.7;
}

.item {
  background-color: #01567b;
  opacity: 0.7;
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.item-text {
  text-overflow: ellipsis;
  overflow: hidden;
  width: 100%;
  white-space: nowrap;
  vertical-align: middle;
}

.checkbox {
  height: 25px;
  width: 27px;
  border: 2px solid #ffff;
  cursor: pointer;
  border-radius: 20%;
  padding: 0;
}

.checkbox.checked {
  background-color: #ffff;
  padding-bottom: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.checkbox.checked::before {
  display: inline-block;
  position: relative;
  content: '';
  height: 14px;
  width: 14px;
  border: 3px solid #01567b;
  border-top: none;
  border-left: none;
  transform: rotate(45deg);
}

img {
  height: 15px;
  width: 15px;
}

img:hover {
  height: 19px;
  width: 19px;
}

.progress-container {
  width: 70%;

  margin-left: auto;
  margin-right: auto;

}

.progress-field {
  background-color: #ffff;
  opacity: 0.6;
  width: 70%;
  height: 47px;
  flex-grow: 1;
}

.progress-field div {
  width: 100%;
  height: 100%;
}

.completed {
  background-color: #01567b;
}